<ion-view title="Clean" id="page4">
  <ion-content padding="true" class="has-header">
    <h2 id="clean-heading4" style="color:#000000;text-align:center;">Clean</h2>
    <div>
      <img src="img/7iCwcIkLQUifJs3Xh0LK_Icon.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 24px;"></div>
    <a href-inappbrowser="https://github.com/willbraffman/cydia/raw/gh-pages/debs/com.yourepo.willbraff.clean.deb" id="clean-button4" style="font-size:50px;border-radius:25px 25px 25px 25px;" class="button button-positive button-large">Get</a>
    <div class="spacer" style="width: 300px; height: 24px;"></div>
    <div id="clean-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Clean is a Theme for iOS 7-12 still under development. Download the beta today!!</p>

      <p style="color:#000000;">Designed by Will Braffman</p>
    </div>
  </ion-content>
</ion-view>