<ion-view title="Contact" id="page3">
  <ion-content padding="true" class="has-header">
    <h1 id="contact-heading7" style="color:#000000;">Bugs</h1>
    <a href="mailto:williambraffman@gmail.com" id="contact-button7" class="button button-positive button-block">Email me</a>
    <h1 id="contact-heading8" style="color:#000000;">Request Me To Host Your Package</h1>
    <a href="mailto:williambraffman@gmail.com" id="contact-button8" class="button button-positive button-block">Email me</a>
  </ion-content>
</ion-view>