<ion-view title="Gradient" id="page5">
  <ion-content padding="true" class="has-header">
    <h2 id="gradient-heading5" style="color:#000000;text-align:center;">Gradient</h2>
    <div>
      <img src="img/khRclaFTiIkDPqu7BC6g_Icon.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 24px;"></div>
    <a href-inappbrowser="https://github.com/willbraffman/cydia/raw/gh-pages/debs/com.yourepo.willbraff.gradient.deb" id="gradient-button5" style="font-size:50px;border-radius:25px 25px 25px 25px;" class="button button-balanced">Get</a>
    <div class="spacer" style="height: 24px;"></div>
    <div id="gradient-markdown2" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Gradient is a Theme for iOS 7-12 still under development. Download the beta today!!</p>

      <p style="color:#000000;">Designed by Will Braffman</p>
    </div>
  </ion-content>
</ion-view>