<ion-view title="Home" id="page1">
  <ion-content padding="true" class="has-header">
    <h1 id="home-heading1" style="color:#000000;">Will Braffman's Repo</h1>
    <div>
      <img src="img/olR84CwXRCGMsyVzlRZV_CydiaIcon.png" style="display:block;width:25%;height:auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <a href-inappbrowser="cydia://url/https://cydia.saurik.com/api/share#?source=https://willbraffman.github.io/cydia/" id="home-button2" style="font-size:25px;border-radius:20px 20px 20px 20px;" class="button button-energized button-small">Add To Cydia</a>
    <div class="spacer" style="width: 300px; height: 9px;"></div>
    <a href-inappbrowser="sileo://source/https://willbraffman.github.io/cydia" id="home-button3" style="font-size:25px;text-align:left;border-radius:20px 20px 20px 20px;" class="button button-positive button-small">Add To Sileo</a>
    <div class="spacer" style="width: 300px; height: 31px;"></div>
    <h4 id="home-heading2" style="color:#000000;font-weight:400;text-align:center;">Maintainer</h4>
    <div>
      <a style="display:block;" href-inappbrowser="https://twitter.com/WBraffman">
        <img src="img/ONvDtauiS3cPILUqhrFZ_StarWars_TheOldRepublic1_27_193_35_37PM.jpg" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>