<ion-view title="Neptune" id="page6">
  <ion-content padding="true" class="has-header">
    <h2 id="neptune-heading6" style="color:#000000;text-align:center;">Neptune</h2>
    <div>
      <img src="img/8TGPxCyDR867KF0zK2gp_com.duraidabdul.neptune.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 24px;"></div>
    <a href-inappbrowser="https://github.com/willbraffman/cydia/raw/gh-pages/debs/neptuneforiphone_1.2.deb" id="neptune-button6" style="font-size:50px;border-radius:25px 25px 25px 25px;" class="button button-positive">Get</a>
    <div class="spacer" style="height: 24px;"></div>
    <div id="neptune-markdown3" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>DISCLAIMER</strong>: THIS TWEAK WAS NOT MADE BY ME AND DO NOT TAKE ANY CREDIT. IF IT IS REQUESTED TO BE REMOVED, I WILL DO SO.</p>

      <p style="color:#000000;">Enable Apple's modern fluid gestural interface on all devices.</p>

      <p style="color:#000000;">Made by: Duraid Abdul</p>
    </div>
  </ion-content>
</ion-view>